Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/MilitaryCharSilver
Content/PhotoR_Backgrounds
Content/MS_UrbAlTutV1

